* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"lora";
}

body {
    background-color: #ffffff;
    color: #1a202c;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2563eb; 
}

main {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
    flex-wrap: wrap; 
}

.hero-content {
    flex: 1;
    min-width: 300px;
}

.hero-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
    color: #4a5568;
}

.text-blue {
    color: #2563eb;
}

.hero-image {
    flex: 1;
    min-width: 300px;
}


.features {
    background-color: #f7fafc;
    padding: 80px 0;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.feature-card {
    text-align: center;
}

.feature-icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.feature-card h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.feature-card p {
    color: #718096;
}

.div-container{
    width: 10%;
    background-color: #2563eb;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

footer{
    color:white;
    background-color:#718096;
    padding:20px;
    text-align:center;
}   

footer a{
    color:#feffff;
    margin:0 20px;
}

footer a:hover{
    text-decoration:underline;
}